<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/r-2.2.6/sc-2.0.3/datatables.min.css"/>
</head>
<body background="https://abris.ua/image/catalog/ldsp/egger/U216.jpg">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand">GSU</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
      </li>
      <li class="nav-item">
      </li>
      <li class="nav-item">
        <a class="nav-link" href="admin">Admin</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
    <h2>Поиск по группе:</h2>
<table class="table table-bordered table-dark mt-3" id="my_datatable">
        <thead>
            <tr class="bg-warning text-dark">
                <th>ФИО</th>
                <th>Группа</th>
                <th>Оценка</th>
                <th>Срок сдачи</th>
                <th>Руководитель</th>
                <th>Рецензент</th>
                <th>Дипломный проект</th>
            </tr>
        </thead>
        <tbody>
        {% for el in student2 %}
            <tr>
                <td>{{ el.stfio }}</td>
                <td>{{ el.group }}</td>
                <td>{{ el.appraisal }}</td>
                <td>{{ el.date }}</td>
                <td>{{ el.leaders_fio }}</td>
                <td>{{ el.reviewers_fio }}</td>
                <td>{{ el.project_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        </tfoot>
    </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/jq-3.3.1/dt-1.10.22/r-2.2.6/sc-2.0.3/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.datatables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/datatables.bootstrap4.min.js"></script>
    <script>
        $('#my_datatable').DataTable({
            language: {
                "lengthMenu": "Показывать по _MENU_ записей на странице",
                "emptyTable":     "Нет данных в таблице",
                "info": "Показаны страницы _PAGE_ из _PAGES_",
                "infoEmpty": "Нет доступных записей",
                "infoFiltered": "(Отфильтровано из _MAX_ записей)",
                "loadingRecords": "Загрузка...",
                "processing": "Процессинг...",
                "search": "Поиск:",
                "zeroRecords": "Извините, ничего не найдено",
                "paginate": {
                    "first": "Первая",
                    "last": "Последняя",
                    "next": "Следующая",
                    "previous": "Предыдущая",
                },
                "aria": {
                    "sortAscending":  ": Сортировка по возрастанию",
                    "sortDescending": ": Сортировка по убыванию"
                }
            },
        });
    </script>
</body>
</html>